.img {
  width: 75vh;
  height: auto;
  align-self: center;
}
.cards__contenedor {
  display: flex;
}
.card {
  margin: 1em;
  object-fit: cover;
  &__img {
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.card__img img {
  max-width: 100%;
  max-height: 100%;
  @extend .card;
}
.boton {
  background-color: #703d57;
}
.card__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
