@import "../utils/utils";
.encabezado {
  &__logo {
    height: 4rem;
  }
}
.nav-link:hover {
  color: black;
}

.img-g {
  height: 75%;
}
.icono__seguidor {
  width: 2rem;
  height: 2rem;
  z-index: 4;
  position: fixed;

  left: 95vw;
  top: 93%;

  cursor: pointer;
}
$color-primario: #935343;

.bg-segundo {
  background-color: $color-primario;
}
.navegacion__item:hover {
  color: white;
  transition-duration: 1s;
  box-shadow: 10px 14px 11px 4px rgba(0, 0, 0, 0.77);
}
.navegacion {
  transition-duration: 1s;
  align-items: center;
  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 10px 10px 0px -3px rgba(0, 0, 0, 0.75);
  }
  @include desktop {
    flex-direction: row;
    box-shadow: none;
  }
}
.navegacion__item {
  transition-duration: 1s;
}
.nav-link {
  @include desktop {
    transition-duration: 1s;
    color: rgba(255, 255, 255, 0.719);
  }
}
.navegacion__nav {
  justify-content: space-around;
}
