.encabezado {
  &__logo {
    height: 4rem;
  }
}
.nav-link:hover {
  color: black;
}

.img-g {
  height: 75%;
}
.icono__seguidor {
  width: 2rem;
  height: 2rem;
  z-index: 4;
  position: fixed;

  left: 95vw;
  top: 93%;

  cursor: pointer;
}
$color-primario: #ffb4b4;

.bg-segundo {
  background-color: $color-primario;
}
.navbar-item:hover {
  color: white;
}
