.img {
  width: 75vh;
  height: auto;
  align-self: center;
}
.cards__contenedor {
  display: flex;
}
.card {
  margin: 1em;
  width: calc(100% / 3);
  &__img {
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.card__img img {
  max-width: 100%;
  max-height: 100%;
}
