* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  box-shadow: none;
}
body {
  height: 100%;
}
.encabezado__lista :hover {
  background-color: #5b78a7;
  transition: all;
  transition-duration: 1s;
  color: white;
  transition-timing-function: linear;
  border-radius: 5%;
}
.menu {
  display: none;
}
textarea {
  columns: 1;
}
.maps {
  width: 100%;
  overflow: hidden;
}
/* GRIDS AREAS */
.contenedor-principal {
  display: grid;
  height: 100vh;
  margin: 5px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 2fr auto;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
.contenedor-header {
  grid-area: header;
  width: 100%;

  overflow: hidden;
}
.contenedor-main {
  grid-area: main;
  width: 100%;
}
.contenedor-footer {
  grid-area: footer;
}

/* INDEX - NAVEGACION   */

.encabezado {
  background-color: blanchedalmond;
  text-emphasis-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}
.encabezado__item {
  padding: 10px;
}
.encabezado__logo {
  max-width: 50px;
  max-height: auto;
  padding: 5%;
}
.encabezado__lista {
  display: flex;
  margin-bottom: 0;
}

.encabezado__sublista {
  display: none;
}
/* HERO */
.hero {
  height: 92vh;
  background: url(../images/hero.jpg) center / cover no-repeat fixed;
  display: flex;

  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.hero__text {
  text-align: center;
  background-color: rgba(224, 241, 64, 0.747);
  color: white;
  border-radius: 15%;

  padding: 15px;

  transition: all;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}
.hero__text:hover {
  color: #000;
  background-color: rgb(255, 255, 255);
  transform: scale(2, 2);
  opacity: 60%;
  border-radius: 15% 0 15% 0;
}

/* INDEX - TARJETAS   */

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}
.tarjeta_descripcion {
  display: flex;
  flex-direction: column;
}
.tarjeta__img {
  margin-top: 0.5rem;
  height: auto;
  width: 100%;

  border-radius: 15px 0 15px 0;
}
.tarjeta__nombre {
  margin-bottom: 10px;
}
.tarjeta__boton {
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: small;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid transparent;
}

h2 {
  display: inline-block;
}

/* ICONO SEGUIDOR */
.icono__seguidor {
  width: 2rem;
  height: 2rem;
  z-index: 4;
  position: fixed;

  left: 95vw;
  top: 93%;

  cursor: pointer;
}

/* FOOTER */
.pie {
  background: #ffb4b4 url(../images/patro.jpg) center/cover no-repeat fixed;

  height: auto;
  overflow: auto;
  padding: 10px;
  font-size: small;
}

.pie__contacto {
  margin: 5px;
  text-align: justify;
}
.pie__copy {
  font-size: small;
}

/* FORMULARIO */

.formulario {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 1rem;
  margin-left: 2rem;
}
.formulario__i {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.contenedor-form {
  width: 2fr;
}

/* BREAKPOINTS */
@media (max-width: 480px) {
  .icono__seguidor {
    left: 85%;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: small;
  }
  .contenedor-principal {
    display: grid;

    margin: 5px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 2fr auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }
  .contenedor-header {
    grid-area: header;
    width: 100%;

    overflow: hidden;
  }
  .encabezado__nav {
    width: 100%;
    display: none;
  }
  .menu {
    font-size: 3rem;
    display: block;
  }
  .contenedor-main {
    grid-area: main;
    width: 100%;
  }
  .contenedor-footer {
    grid-area: footer;
  }
  main {
    display: flex;
    flex-direction: column;
  }

  .hero {
    height: 75vh;
    background: url(../images/hero.jpg) center / cover no-repeat fixed;
  }

  .hero__text:hover {
    color: #000;
    background-color: rgb(255, 255, 255);
    transform: scale(1.5, 1.5);
    opacity: 60%;
    border-radius: 15% 0 15% 0;
  }
  .tarjeta {
    flex-direction: column;
  }
  .tarjeta__contenedor {
    display: block;
  }
  .tarjeta__descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
  }
  .tarjeta__boton {
    border: 1px solid rgba(0, 0, 0, 0.247);
    border-radius: 5px;
  }

  .secundaria {
    display: flex;
    flex-direction: column-reverse;
  }
  /* SECCION CONTACTO */
  .formulario {
    flex-direction: column;
  }

  .contenedor-formulario {
    width: 100px;
  }
}
@media (min-width: 481px) {
  .contenedor-principal {
    grid-template-rows: 10% 2fr auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .tarjeta {
    flex-direction: row;
  }
  .tarjeta__descripcion {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
  }
  .tarjeta__descripcion {
    align-self: center;
    border-radius: 15%;
  }
  .tarjeta__contenedor {
    display: flex;
  }
  .tarjeta__boton {
    transition-duration: 1s;
    border-radius: 15%;
    cursor: pointer;
    transition-timing-function: ease-in;

    font-size: 1rem;
  }
  .tarjeta__boton:hover {
    background-color: #5b78a76c;
    border-style: dashed;
    border-radius: 15%;

    border: 1px solid rgba(0, 0, 0, 0.082);

    transform: scale(1.5, 1.5) translateY(1rem);
  }

  .tarjeta {
    justify-content: space-around;
  }
  .tarjeta__contenedor {
    max-width: 50%;
  }
  .descrip-two {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .maps {
    height: 200%;
  }
  .formulario {
    overflow: hidden;
  }
  .contenedor-formulario {
    display: block;
  }
  fieldset {
    width: 100%;
  }
}
