* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  box-shadow: none;
}
body {
  height: 100vh;
}
h4 {
  font-size: small;
}
.encabezado__lista :hover {
  background-color: #5b78a7;
  transition: all;
  transition-duration: 1s;
  color: white;
  transition-timing-function: linear;
  border-radius: 5%;
}
.menu {
  display: none;
}
textarea {
  columns: 1;
}
.maps {
  width: 100%;
  overflow: hidden;
}
/* INDEX - NAVEGACION   */

.encabezado {
  background-color: blanchedalmond;
  text-emphasis-color: white;

  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}
.encabezado__item {
  padding: 10px;
}
.burguer-menu {
  display: none;
}
.encabezado__logo {
  max-width: 5rem;
  max-height: auto;

  z-index: 99;
}
/* .encabezado__lista {
  display: flex;
  margin-bottom: 0;
} */

.encabezado__sublista {
  display: none;
}
/* HERO */
/* .hero {
  height: 92vh;
  background: url(../images/hero.jpg) center / cover no-repeat fixed;
  /* display: flex; */

/* justify-content: center;
  align-items: center;

  overflow: hidden;
} */
.hero__text {
  text-align: center;
  z-index: 99;
  color: rgb(0, 0, 0);
  display: flex;

  position: absolute;
  transition: all;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}
.hero__text:hover {
  color: #000;
  background-color: rgb(255, 255, 255);
  transform: scale(2, 2);
  opacity: 60%;
  border-radius: 15% 0 15% 0;
}

/* INDEX - TARJETAS   */

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}
.tarjeta_descripcion {
  align-items: center;
}
.tarjeta__img {
  margin-top: 0.5rem;
  height: 40rem;
  width: 100%;
  object-fit: cover;
}
.tarjeta_imagen {
  height: 12rem;
  width: auto;
  object-fit: cover;
  align-self: center;
}
.tarjeta__nombre {
  margin-bottom: 10px;
}
.tarjeta__boton {
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: small;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid transparent;
}

h2 {
  display: inline-block;
}

/* ICONO SEGUIDOR */
.icono__seguidor {
  width: 2rem;
  height: 2rem;
  z-index: 4;
  position: fixed;

  left: 95vw;
  top: 93%;

  cursor: pointer;
}

/* FOOTER */
.pie {
  background: #ffb4b4 url(../images/patro.jpg) center/cover no-repeat fixed;

  height: auto;
  overflow: auto;
  padding: 10px;
  font-size: small;
}

.pie__contacto {
  margin: 5px;
  text-align: left;
}
.pie__copy {
  font-size: small;
}

/* FORMULARIO */

.formulario {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 1rem;
  margin-left: 2rem;
}
.formulario__i {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.contenedor-form {
  width: 2fr;
}
